<?xml version="1.0"?>
<Variables>
<Variable tag="yield" label="Yield" unit="" nbins="1" min="-0.5" max="0.5"/>
<Variable tag="MET" label="MET" unit="MET" nbins="100" min="200" max="1000"/>
<Variable tag="MT2W" label="MT2W" unit="MT2W" nbins="100" min="0" max="500"/>
<Variable tag="MT" label="MT" unit="MT" nbins="100" min="100" max="1000"/>
<Variable tag="nJets" label="nJets" unit="nJets" nbins="5" min="0.5" max="5.5"/>
<Variable tag="dphi" label="dphi" unit="dphi" nbins="100" min="0" max="3.5"/>
<Variable tag="nvertex" label="nvertex" unit="nvertex" nbins="50" min="-0.5" max="50.5"/>
</Variables>
<Regions>
<Region tag="SR1l23jLowMlb_MET250to350" label="SR1l23jLowMlb_MET250to350" />
<Region tag="SR1l23jLowMlb_MET350to450" label="SR1l23jLowMlb_MET350to450" />
<Region tag="SR1l23jLowMlb_MET450to550" label="SR1l23jLowMlb_MET450to550" />
<Region tag="SR1l23jLowMlb_MET550toInf" label="SR1l23jLowMlb_MET550toInf" />
<Region tag="SR1l23jHighMlb_MET250to350" label="SR1l23jHighMlb_MET250to350" />
<Region tag="SR1l23jHighMlb_MET350to450" label="SR1l23jHighMlb_MET350to450" />
<Region tag="SR1l23jHighMlb_MET450to550" label="SR1l23jHighMlb_MET450to550" />
<Region tag="SR1l23jHighMlb_MET550toInf" label="SR1l23jHighMlb_MET550toInf" />
<Region tag="SR1l4jLowMT2WLowMlb_MET250to350" label="SR1l4jLowMT2WLowMlb_MET250to350" />
<Region tag="SR1l4jLowMT2WLowMlb_MET350to450" label="SR1l4jLowMT2WLowMlb_MET350to450" />
<Region tag="SR1l4jLowMT2WLowMlb_MET450to550" label="SR1l4jLowMT2WLowMlb_MET450to550" />
<Region tag="SR1l4jLowMT2WLowMlb_MET550to650" label="SR1l4jLowMT2WLowMlb_MET550to650" />
<Region tag="SR1l4jLowMT2WLowMlb_MET650toInf" label="SR1l4jLowMT2WLowMlb_MET650toInf" />
<Region tag="SR1l4jLowMT2WHighMlb_MET250to350" label="SR1l4jLowMT2WHighMlb_MET250to350" />
<Region tag="SR1l4jLowMT2WHighMlb_MET350to450" label="SR1l4jLowMT2WHighMlb_MET350to450" />
<Region tag="SR1l4jLowMT2WHighMlb_MET450to550" label="SR1l4jLowMT2WHighMlb_MET450to550" />
<Region tag="SR1l4jLowMT2WHighMlb_MET550toInf" label="SR1l4jLowMT2WHighMlb_MET550toInf" />
<Region tag="SR1l4jMidMT2WLowMlb_MET250to350" label="SR1l4jMidMT2WLowMlb_MET250to350" />
<Region tag="SR1l4jMidMT2WLowMlb_MET350to450" label="SR1l4jMidMT2WLowMlb_MET350to450" />
<Region tag="SR1l4jMidMT2WLowMlb_MET450toInf" label="SR1l4jMidMT2WLowMlb_MET450toInf" />
<Region tag="SR1l4jMidMT2WHighMlb_MET250to400" label="SR1l4jMidMT2WHighMlb_MET250to400" />
<Region tag="SR1l4jMidMT2WHighMlb_MET400toInf" label="SR1l4jMidMT2WHighMlb_MET400toInf" />
<Region tag="SR1l4jHighMT2WLowMlb_MET250to350" label="SR1l4jHighMT2WLowMlb_MET250to350" />
<Region tag="SR1l4jHighMT2WLowMlb_MET350to450" label="SR1l4jHighMT2WLowMlb_MET350to450" />
<Region tag="SR1l4jHighMT2WLowMlb_MET450to600" label="SR1l4jHighMT2WLowMlb_MET450to600" />
<Region tag="SR1l4jHighMT2WLowMlb_MET600toInf" label="SR1l4jHighMT2WLowMlb_MET600toInf" />
<Region tag="SR1l4jHighMT2WHighMlb_MET250to400" label="SR1l4jHighMT2WHighMlb_MET250to400" />
<Region tag="SR1l4jHighMT2WHighMlb_MET400to650" label="SR1l4jHighMT2WHighMlb_MET400to650" />
<Region tag="SR1l4jHighMT2WHighMlb_MET650toInf" label="SR1l4jHighMT2WHighMlb_MET650toInf" />
<Region tag="CR1l23jLowMlb_MET250to350" label="CR1l23jLowMlb_MET250to350" />
<Region tag="CR1l23jLowMlb_MET350to450" label="CR1l23jLowMlb_MET350to450" />
<Region tag="CR1l23jLowMlb_MET450to550" label="CR1l23jLowMlb_MET450to550" />
<Region tag="CR1l23jLowMlb_MET550toInf" label="CR1l23jLowMlb_MET550toInf" />
<Region tag="CR1l23jHighMlb_MET250to350" label="CR1l23jHighMlb_MET250to350" />
<Region tag="CR1l23jHighMlb_MET350to450" label="CR1l23jHighMlb_MET350to450" />
<Region tag="CR1l23jHighMlb_MET450to550" label="CR1l23jHighMlb_MET450to550" />
<Region tag="CR1l23jHighMlb_MET550toInf" label="CR1l23jHighMlb_MET550toInf" />
<Region tag="CR1l4jLowMT2WLowMlb_MET250to350" label="CR1l4jLowMT2WLowMlb_MET250to350" />
<Region tag="CR1l4jLowMT2WLowMlb_MET350to450" label="CR1l4jLowMT2WLowMlb_MET350to450" />
<Region tag="CR1l4jLowMT2WLowMlb_MET450to550" label="CR1l4jLowMT2WLowMlb_MET450to550" />
<Region tag="CR1l4jLowMT2WLowMlb_MET550to650" label="CR1l4jLowMT2WLowMlb_MET550to650" />
<Region tag="CR1l4jLowMT2WLowMlb_MET650toInf" label="CR1l4jLowMT2WLowMlb_MET650toInf" />
<Region tag="CR1l4jLowMT2WHighMlb_MET250to350" label="CR1l4jLowMT2WHighMlb_MET250to350" />
<Region tag="CR1l4jLowMT2WHighMlb_MET350to450" label="CR1l4jLowMT2WHighMlb_MET350to450" />
<Region tag="CR1l4jLowMT2WHighMlb_MET450to550" label="CR1l4jLowMT2WHighMlb_MET450to550" />
<Region tag="CR1l4jLowMT2WHighMlb_MET550toInf" label="CR1l4jLowMT2WHighMlb_MET550toInf" />
<Region tag="CR1l4jMidMT2WLowMlb_MET250to350" label="CR1l4jMidMT2WLowMlb_MET250to350" />
<Region tag="CR1l4jMidMT2WLowMlb_MET350to450" label="CR1l4jMidMT2WLowMlb_MET350to450" />
<Region tag="CR1l4jMidMT2WLowMlb_MET450toInf" label="CR1l4jMidMT2WLowMlb_MET450toInf" />
<Region tag="CR1l4jMidMT2WHighMlb_MET250to400" label="CR1l4jMidMT2WHighMlb_MET250to400" />
<Region tag="CR1l4jMidMT2WHighMlb_MET400toInf" label="CR1l4jMidMT2WHighMlb_MET400toInf" />
<Region tag="CR1l4jHighMT2WLowMlb_MET250to350" label="CR1l4jHighMT2WLowMlb_MET250to350" />
<Region tag="CR1l4jHighMT2WLowMlb_MET350to450" label="CR1l4jHighMT2WLowMlb_MET350to450" />
<Region tag="CR1l4jHighMT2WLowMlb_MET450to600" label="CR1l4jHighMT2WLowMlb_MET450to600" />
<Region tag="CR1l4jHighMT2WLowMlb_MET600toInf" label="CR1l4jHighMT2WLowMlb_MET600toInf" />
<Region tag="CR1l4jHighMT2WHighMlb_MET250to400" label="CR1l4jHighMT2WHighMlb_MET250to400" />
<Region tag="CR1l4jHighMT2WHighMlb_MET400to650" label="CR1l4jHighMT2WHighMlb_MET400to650" />
<Region tag="CR1l4jHighMT2WHighMlb_MET650toInf" label="CR1l4jHighMT2WHighMlb_MET650toInf" />
<Region tag="CR2l23jLowMlb_MET250to350" label="CR2l23jLowMlb_MET250to350" />
<Region tag="CR2l23jLowMlb_MET350to450" label="CR2l23jLowMlb_MET350to450" />
<Region tag="CR2l23jLowMlb_MET450to550" label="CR2l23jLowMlb_MET450to550" />
<Region tag="CR2l23jLowMlb_MET550toInf" label="CR2l23jLowMlb_MET550toInf" />
<Region tag="CR2l23jHighMlb_MET250to350" label="CR2l23jHighMlb_MET250to350" />
<Region tag="CR2l23jHighMlb_MET350to450" label="CR2l23jHighMlb_MET350to450" />
<Region tag="CR2l23jHighMlb_MET450to550" label="CR2l23jHighMlb_MET450to550" />
<Region tag="CR2l23jHighMlb_MET550toInf" label="CR2l23jHighMlb_MET550toInf" />
<Region tag="CR2l4jLowMT2WLowMlb_MET250to350" label="CR2l4jLowMT2WLowMlb_MET250to350" />
<Region tag="CR2l4jLowMT2WLowMlb_MET350to450" label="CR2l4jLowMT2WLowMlb_MET350to450" />
<Region tag="CR2l4jLowMT2WLowMlb_MET450to550" label="CR2l4jLowMT2WLowMlb_MET450to550" />
<Region tag="CR2l4jLowMT2WLowMlb_MET550to650" label="CR2l4jLowMT2WLowMlb_MET550to650" />
<Region tag="CR2l4jLowMT2WLowMlb_MET650toInf" label="CR2l4jLowMT2WLowMlb_MET650toInf" />
<Region tag="CR2l4jLowMT2WHighMlb_MET250to350" label="CR2l4jLowMT2WHighMlb_MET250to350" />
<Region tag="CR2l4jLowMT2WHighMlb_MET350to450" label="CR2l4jLowMT2WHighMlb_MET350to450" />
<Region tag="CR2l4jLowMT2WHighMlb_MET450to550" label="CR2l4jLowMT2WHighMlb_MET450to550" />
<Region tag="CR2l4jLowMT2WHighMlb_MET550toInf" label="CR2l4jLowMT2WHighMlb_MET550toInf" />
<Region tag="CR2l4jMidMT2WLowMlb_MET250to350" label="CR2l4jMidMT2WLowMlb_MET250to350" />
<Region tag="CR2l4jMidMT2WLowMlb_MET350to450" label="CR2l4jMidMT2WLowMlb_MET350to450" />
<Region tag="CR2l4jMidMT2WLowMlb_MET450toInf" label="CR2l4jMidMT2WLowMlb_MET450toInf" />
<Region tag="CR2l4jMidMT2WHighMlb_MET250to400" label="CR2l4jMidMT2WHighMlb_MET250to400" />
<Region tag="CR2l4jMidMT2WHighMlb_MET400toInf" label="CR2l4jMidMT2WHighMlb_MET400toInf" />
<Region tag="CR2l4jHighMT2WLowMlb_MET250to350" label="CR2l4jHighMT2WLowMlb_MET250to350" />
<Region tag="CR2l4jHighMT2WLowMlb_MET350to450" label="CR2l4jHighMT2WLowMlb_MET350to450" />
<Region tag="CR2l4jHighMT2WLowMlb_MET450to600" label="CR2l4jHighMT2WLowMlb_MET450to600" />
<Region tag="CR2l4jHighMT2WLowMlb_MET600toInf" label="CR2l4jHighMT2WLowMlb_MET600toInf" />
<Region tag="CR2l4jHighMT2WHighMlb_MET250to400" label="CR2l4jHighMT2WHighMlb_MET250to400" />
<Region tag="CR2l4jHighMT2WHighMlb_MET400to650" label="CR2l4jHighMT2WHighMlb_MET400to650" />
<Region tag="CR2l4jHighMT2WHighMlb_MET650toInf" label="CR2l4jHighMT2WHighMlb_MET650toInf" />
</Regions>
<Channels>
<Channel tag="lepChannel" label="lepChannel" />
</Channels>
<ProcessClasses>
<ProcessClass tag="rare" label="rare" type="background" color="600" />
<ProcessClass tag="throw" label="throw" type="signal" color="600" />
<ProcessClass tag="850_100" label="850_100" type="signal" color="600" />
<ProcessClass tag="1000_1" label="1000_1" type="signal" color="600" />
<ProcessClass tag="lostLepton" label="lostLepton" type="background" color="900" />
<ProcessClass tag="singleLepton" label="singleLepton" type="background" color="416" />
<ProcessClass tag="singleLeptonFromT" label="singleLeptonFromT" type="background" color="416" />
</ProcessClasses>
<Datasets>
<Dataset tag="ZZ_pythia8_25ns" label="rare" processClass="rare" XsecOrLumi="0.564" getTrueNumberOfEvents="0" />
<Dataset tag="T2tt_mStop_850_mLSP_100_25ns" label="throw" processClass="throw" XsecOrLumi="0" getTrueNumberOfEvents="0" />
</Datasets>
