<?xml version="1.0"?>
<Variables>
<Variable tag="yield" label="Yield" unit="" nbins="1" min="-0.5" max="0.5"/>
<Variable tag="MET" label="MET" unit="MET" nbins="100" min="200" max="1000"/>
<Variable tag="MT2W" label="MT2W" unit="MT2W" nbins="100" min="0" max="500"/>
<Variable tag="MT" label="MT" unit="MT" nbins="100" min="100" max="1000"/>
<Variable tag="nJets" label="nJets" unit="nJets" nbins="10" min="0.5" max="10.5"/>
<Variable tag="nBJets" label="nBJets" unit="nBJets" nbins="5" min="0.5" max="5.5"/>
<Variable tag="topnessMod" label="topnessMod" unit="topnessMod" nbins="20" min="-20" max="20"/>
<Variable tag="dphi" label="dphi" unit="dphi" nbins="100" min="0" max="3.5"/>
<Variable tag="Mlb" label="Mlb" unit="Mlb" nbins="100" min="0" max="500"/>
<Variable tag="StopMass" label="stop mass" unit="GeV" nbins="61" min="-12.5" max="1512.5"/>
<Variable tag="NeutralinoMass" label="lsp mass" unit="GeV" nbins="41" min="-12.5" max="1012.5"/>
</Variables>
<Regions>
<Region tag="testing" label="testing" />
<Region tag="SR1l_A_250lessMETless350" label="SR1l_A_250lessMETless350" />
<Region tag="SR1l_A_350lessMETless450" label="SR1l_A_350lessMETless450" />
<Region tag="SR1l_A_450lessMETless600" label="SR1l_A_450lessMETless600" />
<Region tag="SR1l_A_600lessMETlessInf" label="SR1l_A_600lessMETlessInf" />
<Region tag="SR1l_B_250lessMETless450" label="SR1l_B_250lessMETless450" />
<Region tag="SR1l_B_450lessMETless600" label="SR1l_B_450lessMETless600" />
<Region tag="SR1l_B_600lessMETlessInf" label="SR1l_B_600lessMETlessInf" />
<Region tag="SR1l_C_250lessMETless350" label="SR1l_C_250lessMETless350" />
<Region tag="SR1l_C_350lessMETless450" label="SR1l_C_350lessMETless450" />
<Region tag="SR1l_C_450lessMETless550" label="SR1l_C_450lessMETless550" />
<Region tag="SR1l_C_550lessMETless650" label="SR1l_C_550lessMETless650" />
<Region tag="SR1l_C_650lessMETlessInf" label="SR1l_C_650lessMETlessInf" />
<Region tag="SR1l_D_250lessMETless350" label="SR1l_D_250lessMETless350" />
<Region tag="SR1l_D_350lessMETless450" label="SR1l_D_350lessMETless450" />
<Region tag="SR1l_D_450lessMETless550" label="SR1l_D_450lessMETless550" />
<Region tag="SR1l_D_550lessMETlessInf" label="SR1l_D_550lessMETlessInf" />
<Region tag="SR1l_E_250lessMETless350" label="SR1l_E_250lessMETless350" />
<Region tag="SR1l_E_350lessMETless550" label="SR1l_E_350lessMETless550" />
<Region tag="SR1l_E_550lessMETlessInf" label="SR1l_E_550lessMETlessInf" />
<Region tag="SR1l_F_250lessMETless450" label="SR1l_F_250lessMETless450" />
<Region tag="SR1l_F_450lessMETlessInf" label="SR1l_F_450lessMETlessInf" />
<Region tag="SR1l_G_250lessMETless350" label="SR1l_G_250lessMETless350" />
<Region tag="SR1l_G_350lessMETless450" label="SR1l_G_350lessMETless450" />
<Region tag="SR1l_G_450lessMETless600" label="SR1l_G_450lessMETless600" />
<Region tag="SR1l_G_600lessMETlessInf" label="SR1l_G_600lessMETlessInf" />
<Region tag="SR1l_H_250lessMETless450" label="SR1l_H_250lessMETless450" />
<Region tag="SR1l_H_450lessMETlessInf" label="SR1l_H_450lessMETlessInf" />
<Region tag="SR1l_I_250lessMETless350" label="SR1l_I_250lessMETless350" />
<Region tag="SR1l_I_350lessMETless450" label="SR1l_I_350lessMETless450" />
<Region tag="SR1l_I_450lessMETless550" label="SR1l_I_450lessMETless550" />
<Region tag="SR1l_I_550lessMETlessInf" label="SR1l_I_550lessMETlessInf" />
</Regions>
<Channels>
<Channel tag="lepChannel" label="lepChannel" />
</Channels>
<ProcessClasses>
<ProcessClass tag="bkg" label="bkg" type="background" color="600" />
<ProcessClass tag="bkg2" label="bkg2" type="background" color="600" />
<ProcessClass tag="400.000000_200.000000" label="(400,200)" type="signal" color="880" />
<ProcessClass tag="600.000000_300.000000" label="(600,300)" type="signal" color="881" />
<ProcessClass tag="1000.000000_100.000000" label="(1000,100)" type="signal" color="882" />
</ProcessClasses>
<Datasets>
<Dataset tag="ttZJets_13TeV_madgraphMLM" label="bkg" processClass="bkg" XsecOrLumi="0" getTrueNumberOfEvents="0" />
<Dataset tag="WZTo1L3Nu_amcnlo_pythia8_25ns" label="bkg" processClass="bkg" XsecOrLumi="0" getTrueNumberOfEvents="0" />
<Dataset tag="ttbar_singleLeptFromT_madgraph_pythia8_25ns" label="bkg2" processClass="bkg2" XsecOrLumi="0" getTrueNumberOfEvents="0" />
</Datasets>
